<!DOCTYPE html>
<html ng-app="volunteerapp">
	<head>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/list.js"></script>
	</head>
	<body ng-controller="ListController">
		<label for="files">Upload your file</label>
		<input type="file" file-model="myFile"/>
    	<button ng-click="uploadFile()">Upload</button>
    	<button ng-click="saveList()">Save</button>
        <div>
            <ul>
                <li ng-repeat="list in lists">
                    <span ng-click='selectList(list._id)'>{{list.name}}</span>
                </li>
            </ul>

        </div>
    	<table>
    		<tr ><th ng-repeat="columName in list.columnNames">{{columName}}<th></tr>
    		<tr ng-repeat="item in list.items">
    			<td ng-repeat="columnName in list.columnNames">
    				{{item.values[columnName]}}
    			</td>
    		</tr>
    	</table>
    </body>
</html>